html {
    background-color: #cfd4da;
    font-family: sans-serif;
    margin:0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

/* nav styles */

.nav__links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav__links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav__links a:hover,
  .nav__links a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav__links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav__links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
  }


  .hamburger {
    padding-right: 1.5em;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 3em;
    height: 5px;
    margin-bottom: .05em;
    background-color: #ff9776;
  }

  