---

---

<html lang="en">  
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Domingo Uribe - Acerca de mí</title>
	</head>
	<body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/blog">Blog</a>
        </nav>

		<h1>Sobre mí</h1>
        <p>Soy Domingo Uribe, luthier especializado en la flauta americana ancestral conocida como "quena".</p>
	</body>
</html>
