---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog Domingo Uribe - Artículos</title>
	</head>
	<body>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/blog">Blog</a>
        </nav>

		<h1>Blog</h1>
        <p>En esta sección podrás leer todos mis artículos acerca de la quena, sobre maderas y sus características y sobre música en general</p>
	</body>
</html>
